@page "/"
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment Host
@inject IBooksService BooksService

<PageTitle>Home</PageTitle>
<h3>Available Books:</h3>
<div style="display:flex">
    @foreach (var book in _books)
    {
        <BookCard Book="book" OnAddToCartClicked="AddToCart" />
    }
</div>

<h3 class="mt-3">My Cart</h3>
<ul>
    @foreach (var item in _booksCart)
    {
        <li>@item.Title</li>
    }
</ul>

@code
{

    private List<Book> _books = new List<Book>();
    private List<Book> _booksCart = new List<Book>();


    protected override async Task OnInitializedAsync()
    {
        _books = await BooksService.GetAllBooksAsync();
    }

    private void AddToCart(Book selectedBook)
    {
     _booksCart.Add(selectedBook);
    }
}
